.nav-link:hover{
    background:#0d6efd !important;
    color:#fff !important;
}

.card{
  transition: all .3s ease;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow:0 10px 25px rgba(0,0,0,.15);
}